<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="sampleDBEntities" connectionString="metadata=res://*/SampleDbModel.csdl|res://*/SampleDbModel.ssdl|res://*/SampleDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=sampleDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>